body {
    background-color: #d5e1ef;
    display: flex;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 40px;
    padding-top: 16px;
    border-radius: 25px;
    padding: 20px;
}

.text{
    text-align: center;
    color: #1F314F;
    font-family: "Outfit", sans-serif;
    font-style: normal;
    
}

.text1{
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-style: normal;
}
